.section-nav {
  width: 140px;
  padding-top: 36px;
  &__list {
    list-style: none;
    padding: 12px 0;
  }
  &__item {
    display: flex;
    color: #aaaaaa;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 16px 0;
    border-bottom: 1px solid rgba(235,235,235,0.1);
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #ffcc00;
    }
    &--active {
      font-weight: 400;
      color: #ffcc00;
    }
  }
  &__icon {
    height: 22px;
    display: none;
  }
  &__mobile-link {
    padding: 16px 0;
  }
}

@media screen and (max-width: 768px) {
  .section-nav {
    width: auto;
    padding-top: 0;
    &__icon {
      display: block;
    }
    &__text {
      display: none;
    }
    &__item {
      padding: 16px 0;
    }
  }
}

@media screen and (max-height: 648px) {
  .section-nav {
    &__item {
      padding: 8px 0;
    }
    &__icon {
      height: 18px;
    }
    &__mobile-link {
      padding: 10px 0;
    }
  }
}

@media screen and (max-height: 430px) {
  .section-nav {
    &__list {
      padding: 5px 0;
    }
  }
}

@media (min-width: 768px) and (orientation: landscape) and (max-height: 648px) {
  .section-nav {
    position: absolute;
    bottom: 10px;
    &__item {
      justify-content: center;
    }
  }
}